@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&display=swap');

.App {
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: bold;
}

#maincomp, #projectview{
  background-image: url('/src/img/Left\ hander-rafiki.png');
  background-size: contain;
  height: 100vh;
}
